.rescource-container {
    width: 70%;
}

@media screen and (max-width: 720px) {
    .rescource-container {
        width: calc(100% - 4rem);
    }
}



.files{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--white);
}

.files .file{
    grid-template-columns: 3.25rem 1fr;
    overflow: hidden;
}


.files .file h3{
    font-size: var(--font-m);
}

.files .file  .cover{
    border-radius: 0.15rem;
    overflow: hidden;
}

.files .file .cover img{
    height: 4rem;
    width: 3.25rem;
    border-radius: 0.15rem;
}